<a href="https://colab.research.google.com/github/ljy9969/Study/blob/master/Elice_Academy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num = int(input())
if num % 2 == 0:
    print(num, "짝수입니다.")
else:
    print(num, "홀수입니다.")

In [ ]:
answer = 25
submit = int(input())
if answer < submit:
    print("정답보다 더 큰 수를 입력했습니다.")
elif answer > submit:
    print("정답보다 더 작은 수를 입력했습니다.")
else:
    print("정답!")

In [ ]:
mix = "쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰"
count = 0
for i in mix:
    if i == "쌀":
        count += 1
print(count)

In [ ]:
for i in range(1, 20):
    print("19 *", i, "=", 19 * i)

In [ ]:
i = 1
while i<11:
    print(i, " 년째 수감 중입니다.")
    i = i + 1
print("감옥에서 석방되었습니다!")

In [ ]:
i = 1
ans = 0
while True:
    ans = ans + i
    if i == 10:
        break
    i = i + 1
print(ans)

In [ ]:
lyrics = "낙엽을,닮은,너의,눈동자를,나는,정말,정말,좋아했었어,가을을,닮은,너의,목소리를,나는,아직,아직,잊지,못했어,같이,걸으면서,들었던,낙엽,소리가,내,귓가에,들려오는,것만,같아,함께,앉아,있던,좁다란,나무,벤치엔,너의,온기가,남아있는,것만,같아,낙엽을,닮은,너의,눈동자를,나는,정말,정말,좋아했었어,가을을,닮은,너의,목소리를,나는,아직,아직,잊지,못했어"
lyric = lyrics.split(',')
print(lyric[45])

In [ ]:
def plus_print(a, b):
    print(a + b)
    
def times_return(a, b):
    return a * b

plus_print(3, 4)
print(times_return(3, 4))

In [ ]:
def solve(a, b):
    return a * b
var1 = solve(3, 4)
var2 = solve(3, ['Cham'])
print(var1, var2)

In [ ]:
def our_max(a):
    a.sort()
    return a[-1]
print(our_max([1, 2, 10, 9, 3, 7, 0, 99, 27, 85]))

냉정과 열정 사이에 있는 사랑의 개수는?
문자열 “냉정”, “열정”이 각각 1개씩, 나머지는 모두 문자열 “사랑”으로 가득 찬 리스트 emotion이 주어질 때, 냉정과 열정 사이의 “사랑” 문자열이 몇 개 있는지 확인하려고 합니다.

“사랑” 문자열이 몇 개 있는지 알기 위해 아래 지시사항대로 프로그램을 작성하세요.


지시사항
아래 내용을 읽고 hot_cold함수를 올바르게 구현하세요.

hot_cold 함수에는 매개변수로 리스트 emotion이 주어집니다. 이 리스트의 원소는 모두 문자열 “냉정”, “열정”, “사랑” 중 하나임이 보장됩니다.
hot_cold는 emotion의 “냉정” 원소와 “열정” 원소 사이의 “사랑” 이 모두 몇 개인지 계산하여, “사랑”의 개수를 정수 자료형으로 반환합니다.
함수 호출 예시 1

hot_cold(['냉정', '사랑', '사랑', '사랑', '열정', '사랑', '사랑'])
Copy
함수 반환 예시 1

3
Copy
함수 호출 예시 2

hot_cold(['열정', '사랑', '사랑', '사랑', '냉정', '사랑', '사랑'])
Copy
함수 반환 예시 2

3
Copy
주어진 예시 외의 다른 모든 경우에 대해 모두 올바른 값을 출력해야 합니다.

In [ ]:
def hot_cold(emotion):
  count = 0
  range = emotion[emotion.index('냉정'):emotion.index('열정')]
  for i in range:
    if i == '사랑':
      count += 1
  return count
hot_cold(['냉정', '사랑', '사랑', '사랑', '열정', '사랑', '사랑'])

우뚝 솟은 빌딩! 함께 만들어볼까요?
입력으로 숫자 N이 주어졌을 때에 별을 특정한 모양으로 출력하고자 합니다.

지시사항에 명시된 조건에 맞는 결과를 출력하는 프로그램을 작성하세요.


지시사항
1번째 줄 부터 5번째 줄 까지는 별을 각각 1, 2, 3, 4, 5개 출력합니다.

6번째 줄부터는 별을 항상 5개 출력합니다.

입력 예시 1

3
Copy
출력 예시 1

*
**
***
Copy
입력 예시 2

7
Copy
출력 예시 2

*
**
***
****
*****
*****
*****

In [ ]:
star = int(input())
for i in range(1, star+1):
    if i < 5:
      print('*' * i)
    else:
      print('*****')

이번 교수님은 만만치않다…!
코더랜드에 있는 F대학의 K교수님은 학점을 특이하게 주시는 것으로 유명합니다.

이 교수님의 시험은 3가지 과목 - 언어이해, 추리논증, 논술로 구성됩니다. 세 과목의 시험 점수 중 가장 낮은 점수에 대해 50점 이상이면 학생에게 A를 주시고, 75점 이상이면 A+를 부여합니다. (각 시험은 100점 만점 시험입니다.)

단, 이 교수님은 추리논증부분에서 10년 넘게 공부하셨기 때문에, 이 과목에 성의가 없는 학생을 싫어하셔서

추리논증 점수가 50점 이상이 아니면 F를 부여합니다.

위 경우에 모두 해당하지 않는 학생들에게는 전부 B+를 부여합니다.


지시사항
입력
언어이해, 추리논증, 논술 에 해당하는 점수가 정수 형식으로 각 줄에 걸쳐 주어집니다.

출력
입력된 점수에 따른 학생의 학점을 올바르게 출력해주세요.

입력 예시 1

70
75
80 
# 이때 70은 언어이해 점수
# 75는 추리논증 점수
# 80은 논술 점수입니다.
Copy
출력 예시 1

A
Copy
입력 예시 2

95
45
90
Copy
출력 예시 2

F

In [ ]:
언어 = int(input())
추리 = int(input())
논술 = int(input())
nums = [언어, 추리, 논술]
if 추리 < 50:
  print('F')
elif 74 >= min(nums) >= 50:
  print('A')
elif min(nums) >= 75:
  print('A+')
else:
  print('B+')


어서오세요! 커피전문점 수타박수입니다!
세계에서 가장 맛있는 커피를 파는 수타박수에서는 매일 많은 사람들이 커피를 마시기 위해 방문하는 장소입니다. 수타박수에서 일하는 직원 엘리스는 너무 많은 손님이 와서 골머리를 앓고 있습니다.

특히, 엘리스는 많은 손님들이 오면 더욱 어려움을 느낍니다. 주문이 한번에 5개, 10개 등이 들어왔을 때 각 주문을 외우는 것이 어렵기 때문입니다. 이런 어려움을 겪는 엘리스를 돕기 위해 주문을 입력하면 총 금액을 출력하는 프로그램을 작성해봅시다.

-수타박수의 메뉴표-
| Coffee | Price |
|—————-|——-|
| 아메리카노 | 4100 |
| 카페라떼 | 4600 |
| 카라멜마끼아또 | 5100 |


지시사항
입력
첫 번째 줄에 주문받을 손님 수(n)를 입력받습니다.
두 번째 줄부터 n+1번째 줄까지 메뉴(아메리카노, 카페라떼, 카라멜마끼아또)중 하나를 입력받습니다.

출력
주문한 메뉴들의 총 가격을 출력합니다.

입력 예시 1

3
아메리카노
카페라떼
카라멜마끼아또
Copy
출력 예시 1

13800
Copy
입력 예시 2

5
아메리카노
아메리카노
카페라떼
카라멜마끼아또
아메리카노
Copy
출력 예시 2

22000

In [ ]:
order = []
n = int(input())
for i in range(n):
  o = input()
  order.append(o)
a = order.count('아메리카노') * 4100
b = order.count('카페라떼') * 4600
c = order.count('카라멜마끼아또') * 5100
print(a + b + c)


반쪽짜리 피라미드
엘리스 토끼는 사용자가 입력한 숫자만큼 높이를 가지는 반쪽 피라미드를 만들어주는 프로그램을 만들려고 합니다.

지시사항을 참고하여 코드를 작성하세요.


지시사항
사용자로부터 자연수를 입력받고 입력된 숫자만큼 높이를 가지는 반쪽 피라미드를 출력하세요.

입력 예시

3
Copy
출력 예시

  *  # 공백 2칸
 **  # 공백 1칸
***  # 공백 0칸

In [ ]:
star = int(input())
for i in range(1, star+1):
    space = ' ' * (star-i)
    print(space, '*' * i)

끼리끼리
엘리스 토끼는 모자장수로부터 여러 개의 숫자 카드를 받았습니다. 이에 엘리스 토끼는 숫자 카드를 분류하여 주머니에 보관하려고 합니다.

어떻게 나눌지 고민하던 엘리스 토끼는 카드의 숫자가 0 미만이면 파란 주머니에, 0 이상이면 빨간 주머니에 넣어 박스에 보관하려고 합니다.

지시사항을 참고하여 코드를 작성하세요.


지시사항
첫 번째 줄에 카드의 수를 나타내는 정수가 입력됩니다. 두 번째 줄부터 n개의 줄에 걸쳐서, 각 카드에 적힌 숫자가 입력됩니다. 각 숫자는 정수형 값으로 변환하여 리스트 card에 저장하세요.

입력받은 순서대로 0 이상인 경우 리스트 red_pocket에, 0 미만인 경우 리스트 blue_pocket에 저장하세요.

각각의 주머니에 카드를 모두 담은 뒤 리스트 card_box에 순서대로 리스트 red_pocket, 리스트 blue_pocket을 저장하세요.

입력 예시 1

5
-2
-1
0
1
2
Copy
출력 예시 1

[[0, 1, 2], [-2, -1]]
Copy
입력 예시 2

8
-1
2
1
-2
7
3
-1
0
Copy
출력 예시 2

[[2, 1, 7, 3, 0], [-1, -2, -1]]

In [ ]:
card = int(input())
red_pocket = []
blue_pocket = []
card_box = []
for i in range(card):
  o = int(input())
  if o >= 0:
    red_pocket.append(o)
  else:
    blue_pocket.append(o)
red_pocket.sort()
blue_pocket.sort()
card_box.append(red_pocket)
card_box.append(blue_pocket)
print(card_box)

4
-1
5
0
-5
[[0, 5], [-5, -1]]


렌터카
엘리스 토끼는 제주도에 놀러 와 H 시간만큼 렌터카를 빌리려고 합니다. 제주도의 대표 렌터카 업체인 모자장수 렌터카와 코더랜드 렌터카는 모두 같은 차량을 제공하고 있지만, 이용 요금에 차이가 있어 가격을 비교해보려고 합니다.

렌터카 업체 요금 정보는 아래와 같습니다.

회사명	요금
모자장수 렌터카	1시간당 A 원에 사용
코더랜드 렌터카	기본요금 B 원에 기본 C 시간 사용,
C 시간이 넘어가면 시간당 D 원의 추가 요금 부과
지시사항을 참고하여 코드를 작성하세요.


지시사항
첫 번째 줄에 엘리스 토끼가 렌터카를 이용할 시간을 나타내는 정수가 입력됩니다. 이 값을 변수 H에 저장하세요.

두 번째 줄에 모자장수 렌터카의 시간당 비용을 나타내는 정수가 입력됩니다. 이 값을 변수 A에 저장하세요.

그리고 세 번째 줄 부터 각 줄에 걸쳐, 코더랜드 렌터카의 기본요금, 기본 시간, 기본 시간 이후에 시간당 부과되는 요금을 나타내는 정수가 입력됩니다. 이 값들을 각각 변수 B, C, D에 저장하세요.

두 업체의 정보를 토대로 비교하여 최소 비용을 변수 result에 저장하세요.

입력받는 모든 수는 자연수이며 범위는 아래와 같습니다.

(1≤A, B, C, D, H≤10,000)(1≤A,\ B,\ C,\ D,\ H≤10,000)
(1≤A, B, C, D, H≤10,000)
입력 예시

10 
300
1500
6
200
Copy
출력 예시

2300

In [ ]:
H = int(input()) # 이용할 시간
A = int(input()) # 모자장수 렌터카의 시간당 비용
B = int(input()) # 코더랜드 렌터카의 기본요금
C = int(input()) # 기본 시간
D = int(input()) # 시간당 부과되는 추가요금
result = []
cost_a = H * A
if H <= C:
  cost_b = B
else:
  cost_b = B + ((H-C) * D)
if cost_a < cost_b:
  result.append(cost_a)
else:
  result.append(cost_b)
print(result)

10
300
1500
6
200
[2300]