In [ ]:
sum = 0
for i in range(11):
  sum += i
print(sum)

55

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])

[1, 3, 5, 7, 9]

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::-2])

[10, 8, 6, 4, 2]

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[0:10:2])

[1, 3, 5, 7, 9]

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1:10:2])

[2, 4, 6, 8, 10]

In [ ]:
for i in range(1,9):
  if i>5:
    continue
  print(i)

1
2
3
4
5

In [ ]:
#19단을 전부 출력해봅시다!
for i in range(1, 20):
    print("19 *", i, "=", 19 * i)

19 * 1 = 19
19 * 2 = 38
19 * 3 = 57
19 * 4 = 76
19 * 5 = 95
19 * 6 = 114
19 * 7 = 133
19 * 8 = 152
19 * 9 = 171
19 * 10 = 190
19 * 11 = 209
19 * 12 = 228
19 * 13 = 247
19 * 14 = 266
19 * 15 = 285
19 * 16 = 304
19 * 17 = 323
19 * 18 = 342
19 * 19 = 361

In [ ]:
for i in range(101):
  if i % 2 == 0:
    continue
  print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [ ]:
class Person:
   def greeting(self):
     print('hello')

maria = Person()
maria.greeting()

hello

In [ ]:
class Person:
   def __init__(self):
     print('hello')

maria = Person()

hello

In [ ]:
a =[1, 2, 3]
b = a
a[2] = 5
print('a', a, id(a))
print('b', b, id(b))

a [1, 2, 5] 140521756928752
b [1, 2, 5] 140521756928752

In [ ]:
import copy
a =[1, 2, 3]
b = copy.deepcopy(a)
a[2] = 5
print(a, id(a))
print(b, id(b))

[1, 2, 5] 140521758693808
[1, 2, 3] 140521757108656

In [ ]:
a =[1, 2, 3]
b = a.copy()
a[2] = 5
print(a, id(a))
print(b, id(b))

[1, 2, 5] 140521756986256
[1, 2, 3] 140521756984176

In [ ]:
a =[1, 2, 3]
b = a[:]
a[2] = 5
print(a, id(a))
print(b, id(b))

[1, 2, 5] 140521756978944
[1, 2, 3] 140521756920000

In [ ]:
class Human:
    def __init__(self):
        print("응애응애")
    
areum = Human()

응애응애

In [ ]:
i = 10
while i > 0:
    print(i)
    i = i - 1

10
9
8
7
6
5
4
3
2
1

In [ ]:
num = int(input()) #정수를 입력받음

# for을 사용한 반복문을 작성
for i in range(num):
    print(i)
    i = i - 1

5
0
1
2
3
4

In [ ]:
i = 1
while i <= 10:
    print(i, '년째 수감 중입니다.')
    i += 1


# while 문 종료 후 '감옥에서 석방되었습니다!'를 출력합니다
print('감옥에서 석방되었습니다!')

1 년째 수감 중입니다.
2 년째 수감 중입니다.
3 년째 수감 중입니다.
4 년째 수감 중입니다.
5 년째 수감 중입니다.
6 년째 수감 중입니다.
7 년째 수감 중입니다.
8 년째 수감 중입니다.
9 년째 수감 중입니다.
10 년째 수감 중입니다.
감옥에서 석방되었습니다!

In [ ]:
i = 1
while True :
    print(i, '월 1만 원을 입금했습니다.')
    if i == 12:
        print('입금 완료! 12만 원을 수령하세요!')
        break
    i = i + 1

1 월 1만 원을 입금했습니다.
2 월 1만 원을 입금했습니다.
3 월 1만 원을 입금했습니다.
4 월 1만 원을 입금했습니다.
5 월 1만 원을 입금했습니다.
6 월 1만 원을 입금했습니다.
7 월 1만 원을 입금했습니다.
8 월 1만 원을 입금했습니다.
9 월 1만 원을 입금했습니다.
10 월 1만 원을 입금했습니다.
11 월 1만 원을 입금했습니다.
12 월 1만 원을 입금했습니다.
입금 완료! 12만 원을 수령하세요!

In [ ]:
i = 1
sum = 0
while True:
    sum = sum + i
    if i == 10:
        break
    i = i + 1
print(sum)

55

In [ ]:
# input() 함수로 층수를 입력받아 저장하세요
star = int(input())

# 입력받은 층수의 별자리를 출력하는 코드를 완성해 보세요
for i in range(1, star+1):
    print('*' * i)

5
*
**
***
****
*****

In [ ]:
# 치즈 접시가 비어 있어요
cheeze = []

# 치즈 접시에 문자열 '치즈'가 무한으로 추가되고, 그때마다 '치즈 추가!'를 출력해요
while True:
    cheeze.append('치즈')
    print('치즈 추가!')

# cheeze 속 치즈가 50개가 되면 추가를 멈추고 '아이~ 배불러!'를 출력해요
    if len(cheeze) == 50:
        break

print('아이~ 배불러!')

치즈 추가!
치즈 추가!
치즈 추가!
치즈 추가!
치즈 추가!
치즈 추가!
치즈 추가!
치즈 추가!
치즈 추가!
치즈 추가!
치즈 추가!
치즈 추가!
치즈 추가!
치즈 추가!
치즈 추가!
치즈 추가!
치즈 추가!
치즈 추가!
치즈 추가!
치즈 추가!
치즈 추가!
치즈 추가!
치즈 추가!
치즈 추가!
치즈 추가!
치즈 추가!
치즈 추가!
치즈 추가!
치즈 추가!
치즈 추가!
치즈 추가!
치즈 추가!
치즈 추가!
치즈 추가!
치즈 추가!
치즈 추가!
치즈 추가!
치즈 추가!
치즈 추가!
치즈 추가!
치즈 추가!
치즈 추가!
치즈 추가!
치즈 추가!
치즈 추가!
치즈 추가!
치즈 추가!
치즈 추가!
치즈 추가!
치즈 추가!
아이~ 배불러!

In [ ]:
def solver_DP(input1, input2, input3):
    minimum = min([input1, input2, input3])
    maximum = max([input1, input2, input3])
    memoization_table = [True]
    check_list = []

    for num in range(maximum):
        possible_range = [num//input1, num//input2, num//input3]
        memoization_table.append(False)
        for i in range(0, possible_range[0] + 1):
            for j in range(0, possible_range[1] + 1):
                for k in range(0, possible_range[2] + 1):
                    if input1 * i + input2 * j + input3 * k == num:
                        memoization_table[num] = True
                    break
            else:
                continue
            break
        else:
            num += 1
            continue
            break

    while len(check_list) <= minimum:
        memoization_table.append(False)
        if memoization_table[num - input1] \
            or memoization_table[num - input2] \
            or memoization_table[num - input3]:
            memoization_table[num] = True
            check_list.append(num)
        else:
            memoization_table[num] = False
            check_list = []
        num += 1

    answer = check_list[0] - 1
    return answer

solution = solver_DP(7, 11, 17)
print(solution)

37

In [ ]:
my_tuple = (1, 2, 3, 4, 5)
var1 = my_tuple[2]
var2 = my_tuple[0:3]
var3 = len(my_tuple)

In [ ]:
def my_star(a):
    return '*' * a
# 함수를 사용해 1층짜리 별자리를 출력해 보세요
print(my_star(1))

*

In [ ]:
import math
print(math.pi, math.ceil(3.6), math.floor(3.4))

3.141592653589793 4 3

In [ ]:
# 조건에 맞게 my_max() 함수를 만들어 보세요
def my_max(nums):
    max_num = nums[0]
    
    for i in nums:
        if max_num < i:
            max_num = i
    return max_num
    
# 다음 리스트에서 최댓값이 무엇인지 확인해 보세요
print(my_max([1, 2, 10, 9, 3, 7, 0, 99, 27, 85]))

99

In [ ]:
# 조건에 맞게 neverland() 함수를 만들어 보세요
def neverland(q):
    first = q.pop(2)
    q.sort()
    q.insert(0, first)
    return q
    
# 대기 시간이 다음과 같을 때 엘리스 토끼가 놀이 기구를 타는 순서를 확인해 보세요
q = [30, 10, 20, 50, 40, 60]
print(neverland(q))

[20, 10, 30, 40, 50, 60]

In [ ]:
# 여러분 만의 미니 프로그램을 만들어 보세요! 랜덤 질문 던지기, 팀 나누기, 당첨자 뽑기 등!
import random

def question():
    math = ['1+1?', '2+2?', '3+3?', '4+4?', '5+5?']
    english = ['apple?', 'banana?', 'crown?', 'driving?']
    korean = ['괴리?','노망?', '달변?', '마상?', '부음?', '살생?']

    과목 = input()

    if 과목 == '수학':
        print(random.choice(math))
    elif 과목 == '영어':
        print(random.choice(english))
    else:
        print(random.choice(korean))
        
question()

수학
2+2?

In [ ]:
input("입력하세요: ")

입력하세요: 1

'1'

In [ ]:
birth_day = input()
if birth_day == "1/12":
    print('You guys are twins!')
else:
    print(birth_day)

1/12
You guys are twins!

In [ ]:
print('메롱'*10)

메롱메롱메롱메롱메롱메롱메롱메롱메롱메롱

In [ ]:
## 변수 mix에 있는 "쌀"의 개수를 세봅시다.
mix = "쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰"

count = 0
for i in mix:
    if i == "쌀":
        count += 1
print(count)

300

In [ ]:
a = [1]
for i in range(2, 4):
  a.append(i)
print(a)

[1, 2, 3]

In [ ]:
i = 1
sum = 0
while i < 5:
  sum += i
  i += 1
print(sum)

10

In [ ]:
while i < 5:
  i+=1
print(i)

5

In [ ]:
num1 = int(input("숫자를 입력하시오 "))
num2 = int(input("숫자를 입력하시오 "))
num3 = int(input("숫자를 입력하시오 "))
num4 = int(input("숫자를 입력하시오 "))
num5 = int(input("숫자를 입력하시오 "))
avg = (num1 + num2 + num3 + num4 + num5) / 5
print(avg)

숫자를 입력하시오 10
숫자를 입력하시오 20
숫자를 입력하시오 30
숫자를 입력하시오 40
숫자를 입력하시오 50
30.0

In [ ]:
nums = []
while True:
    num = int(input())
    if num == 0:
        break
    nums.append(num)
avg = sum(nums) / len(nums)
print(avg)

50
40
30
20
10
0
30.0

In [ ]:
num_list = list(range(1, 46))
import random
lotto = []
while len(lotto) < 6:
  random.shuffle(num_list)
  num_selected = num_list[0]
  if num_selected in lotto:
    continue
  lotto.append(num_selected)
print(lotto)

[2, 43, 45, 10, 44, 1]

In [ ]:
num_list = list(range(10))
import random
lotto = []
while len(lotto) < 6:
  random.shuffle(num_list)
  num_selected = num_list[0]
  lotto.append(num_selected)
print(lotto)

[9, 7, 0, 1, 6, 4]

In [ ]:
length = 0
for x in 'abcdefg':
  length += 1
print(length)

7

In [ ]:
my_dict = {"사과":"apple", "바나나":"banana", "당근":"carrot"}
var1 = my_dict["사과"]
del my_dict["당근"]
my_dict["체리"] = "cherry"
print(var1, my_dict)

apple {'사과': 'apple', '바나나': 'banana', '체리': 'cherry'}

my_dict = {}
my_dict[1] = 'Integer'
my_dict['a'] = 'String'
my_dict[(1, 2, 3)] = 'Tuple'
try:
    #여기에 [1, 2, 3] → "List"의 대응관계를 만들어봅시다.
    my_dict[[1, 2, 3]] = 'List'
except TypeError:
    print("List는 Dictionary의 Key가 될 수 없습니다.")
print(my_dict)

In [ ]:
cvs = ['Bello', 'Bello', 'Tulaliloo_ti_amo', 'Tank_yu', 'Poopaye', 'Poopaye']
# Minionese와 한국어가 담긴 miniWord 딕셔너리를 만드세요.
miniWord = {}
miniWord['Bello'] = '안녕'
miniWord['Poopaye'] = '잘가'
miniWord['Tank_yu'] = '고마워'
miniWord['Tulaliloo_ti_amo'] = '우린 너를 사랑해'
for i in cvs:
    if i == 'Bello':
        print(miniWord['Bello'])
    elif i == 'Poopaye':
        print(miniWord['Poopaye'])
    elif i == 'Tank_yu':
        print(miniWord['Tank_yu'])
    else:
        print(miniWord['Tulaliloo_ti_amo'])

안녕
안녕
우린 너를 사랑해
고마워
잘가
잘가

In [ ]:
cvs = ['Bello', 'Bello', 'Tulaliloo_ti_amo', 'Tank_yu', 'Poopaye', 'Poopaye']
# Minionese와 한국어가 담긴 miniWord 딕셔너리를 만드세요.
miniWord = {}
miniWord['Bello'] = '안녕'
miniWord['Poopaye'] = '잘가'
miniWord['Tank_yu'] = '고마워'
miniWord['Tulaliloo_ti_amo'] = '우린 너를 사랑해'
for i in cvs:
  print(miniWord[i])

안녕
안녕
우린 너를 사랑해
고마워
잘가
잘가

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_list.clear()
print(my_list)

[]

In [ ]:
def yoonHa(nums):
  answer = ''
  psswd = {4:'love', 8:'smile', 6:'kiss'}
  for i in nums:
    if i == '4':
      answer += psswd[4]
    elif i == '8':
      answer += psswd[8]
    else:
      answer += psswd[6]
  return answer
nums = input()
print(yoonHa(nums))

86864
smilekisssmilekisslove

In [ ]:
def yoonHa(nums):
  psswd = {'4':'love', '8':'smile', '6':'kiss'}
  answer = []
  for i in nums:
    answer.append(psswd[i])
  return answer
nums = input()
print(''.join(yoonHa(nums)))

48684
lovesmilekisssmilelove

In [ ]:
def yoonHa(nums):
  psswd = {'4':'love', '8':'smile', '6':'kiss'}
  answer = []
  for i in nums:
    answer.append(psswd[i])
  return ''.join(answer)
nums = input()
print(yoonHa(nums))

48684
lovesmilekisssmilelove

In [ ]:
print(1, 2, 3, end="\n"); print(4, 5, 6, sep="")

1 2 3
456

In [ ]:
num = int(input())
nums = [2, 3, 5, 7]
dic = {2:'2의 배수입니다.', 3:'3의 배수입니다.', 5:'5의 배수입니다.', 7:'7의 배수입니다.'}
for i in nums:
    if num % i == 0:
        print(dic[i])

210
2의 배수입니다.
3의 배수입니다.
5의 배수입니다.
7의 배수입니다.

In [ ]:
start1 = int(input())
say_it = start1 + 1
if say_it % 3 == 0:
  print('짝!')
else:
  print(say_it)

89
짝!

In [ ]:
n = int(input())
num1 = (sum(range(1, n+1))) ** 2
def num2(n):
  s = 0
  for i in range(1, n+1):
    s = s + i ** 2
  return s

print(num1 - num2(n))

3
22

In [ ]:
weight = int(input())
marbles = {'r':250, 'b':40, 'w':10}
remains_red = weight - (weight // marbles['r'] * marbles['r'])
remains_blue = remains_red - (remains_red // marbles['b'] * marbles['b'])
remains_white = remains_blue - (remains_blue // marbles['w'] * marbles['w'])
a = weight // marbles['r']
b = remains_red // marbles['b']
c = remains_blue // marbles['w']
if remains_white != 0:
  print(-1)
else:
  print(a+b+c)

700
7

In [ ]:
t = int(input())
if(t%10 != 0): 
    print(-1)
else: 
    print((t % 250 % 40) // 10 + (t % 250) // 40 + t // 250)

In [ ]:
a = range(1,10001)
b = list(map(str,a))
c = ''.join(b)
print(c.count('8'))

4000

In [ ]:
num = input()
i = 0
while i < len(num)//2:
    if num[i] == num[len(num)-i-1]:
        print("Same")
    else:
        print("Different")
    i += 1

ABCDDCBA
Same
Same
Same
Same

In [ ]:
def myMean(a):
    a.sort()
    a.pop(0)
    a.pop()
    b = sum(a) / len(a)
    return b

print(myMean([1, 2, 3, 4, 5]))

3.0

In [ ]:
def myMean(lst):
    lst.sort()
    return sum(lst[1:-1])/(len(lst)-2)


ans = myMean([1, 2, 3, 4, 5])
print(ans)

3.0

In [ ]:
def hot_cold(emotion):
  count = 0
  range = emotion[emotion.index('냉정'):emotion.index('열정')]
  for i in range:
    if i == '사랑':
      count += 1
  return count
hot_cold(['냉정', '사랑', '사랑', '사랑', '열정', '사랑', '사랑'])

3

In [ ]:
star = int(input())
for i in range(1, star+1):
    if i < 5:
      print('*' * i)
    else:
      print('*****')

7
*
**
***
****
*****
*****
*****

In [ ]:
언어 = int(input())
추리 = int(input())
논술 = int(input())
nums = [언어, 추리, 논술]
if 추리 < 50:
  print('F')
elif 74 >= min(nums) >= 50:
  print('A')
elif min(nums) >= 75:
  print('A+')
else:
  print('B+')

74
50
74
A

In [ ]:
order = []
n = int(input())
for i in range(n):
  o = input()
  order.append(o)
a = order.count('아메리카노') * 4100
b = order.count('카페라떼') * 4600
c = order.count('카라멜마끼아또') * 5100
print(a + b + c)

In [ ]:
N = int(input())
for i in range(1,N+1):
  print(' '*(N-i), '*'*i)

10
          *
         **
        ***
       ****
      *****
     ******
    *******
   ********
  *********
 **********

In [ ]:
card = int(input())
red_pocket = []
blue_pocket = []
card_box = []
for i in range(card):
  o = int(input())
  if o >= 0:
    red_pocket.append(o)
  else:
    blue_pocket.append(o)
red_pocket.sort()
blue_pocket.sort()
card_box.append(red_pocket)
card_box.append(blue_pocket)
print(card_box)

8
-1
8
0
-5
1
-4
7
-2
[[0, 1, 7, 8], [-5, -4, -2, -1]]

In [ ]:
H = int(input()) # 이용할 시간
A = int(input()) # 모자장수 렌터카의 시간당 비용
B = int(input()) # 코더랜드 렌터카의 기본요금
C = int(input()) # 기본 시간
D = int(input()) # 시간당 부과되는 추가요금
result = []
cost_a = H * A
if H <= C:
  cost_b = B
else:
  cost_b = B + ((H-C) * D)
if cost_a < cost_b:
  result.append(cost_a)
else:
  result.append(cost_b)
print(result)

In [ ]:
def say_hi_default(name='somebody'):
    print('안녕, ' + name + '!')
say_hi_default('준이')
say_hi_default()

안녕, 준이!
안녕, somebody!

In [ ]:
def add_and_return(number1, number2):
    print(number1 + number2)
    return number1 + number2
print(add_and_return(1, 2) + 3)

3
6

In [ ]:
def print_two(word1, word2):
    print(word1)
    print(word2)

def print_and_return(word1, word2, word3):
    print_two(word3, word2)
    return word1
print_two('A', print_and_return('B', 'C', 'D'))

D
C
A
B

In [ ]:
print(bool(None))
print(bool(0))
print(bool(1.1))

False
False
True

In [ ]:
print('Quote(\') and double quote(\")')

Quote(') and double quote(")

In [ ]:
message = 'Hello'
print(message[::-1])  # 거꾸로 출력

olleH

In [ ]:
conductor = {'first_name': '단테', 'last_name': '안'}
conductor['gender'] = 'male'
print(conductor)

{'first_name': '단테', 'last_name': '안', 'gender': 'male'}

In [ ]:
conductor = {'first_name': '단테', 'last_name': '안'}
for key, value in conductor.items():
    print(key + ' : ' + value)

함수(function): 불려진 시점에 특정한 작업을 수행하며, 입력값과 출력값(반환값)을 가질 수 있습니다.
인자(argument): 함수를 호출할 때 전달하는 입력값입니다.
매개변수(parameter): 함수가 실행될 때 입력값이 들어올 변수입니다.
반환값(return value): 함수가 종료될 때 호출 지점으로 전달할 출력값입니다.
변수(variable): 값을 가리키는 이름입니다.
스코프(scope): 변수가 유효한 범위입니다.
연산자(operator): 주어진 값들에 대해 정해진 연산을 수행합니다.
수리 연산자(mathematical operator): +, -, *, /, //, **
비교 연산자(comparison operator): ==, !=, <, >, <=, >=, is
논리 연산자(logical operator): and, or
소속 연산자(membership operator): in
제어문(control statements): 코드 블록의 흐름(실행 여부, 반복)을 제어합니다.
if: 명제가 참이면 실행합니다.
else: if 명제 이외의 경우에 실행합니다.
elif: if 명제 이외의 경우에 또 다른 명제가 참일 경우에 실행합니다.
while: 명제가 참일 동안 반복합니다.
for: 주어진 값들 하나씩 반복합니다.
자료형(data types): 값들의 종류를 나타냅니다.
정수(int), 부동소수점 수(float), 불리언(bool), 문자열(str), 튜플(tuple), 리스트(list), 딕셔너리(dict)

In [ ]:
def fibonacci(n):
    if n <= 2:
        return 1
    else:
        return fibonacci(n-2) + fibonacci(n-1)

n = 1
while n <= 20:
    n = n + 1
    print(fibonacci(n))
print('끝!')

1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
끝!

In [ ]:
memory = {1: 1, 2: 1}

def fibonacci(n):
    if n in memory:
        number = memory[n]
    else:
       number = fibonacci(n-1) + fibonacci(n-2)
       memory[n] = number
    return number

print(fibonacci(100))

print(memory)

In [ ]:
print("""\\    /\\
 )  ( ')
(  /  )
 \\(__)|""")

\    /\ )  ( ')
(  /  )
 \(__)|

In [ ]:
print('''|\\_/|
|q p|   /}
( 0 )"""\\
|"^"`    |
||_/=\\\\__|''')

|\_/|
|q p|   /}
( 0 )"""\
|"^"`    |
||_/=\\__|

In [ ]:
A, B = map(int, input().split())
if A>0 and B<10:
  print(A+B)

1 9
10

In [ ]:
A, B = map(int, input().split())
if A>=1 and B<=10000:
  print(A+B)
  print(A-B)
  print(A*B)
  print(A//B) #/일 경우 소수, //일 경우 몫이기 때문에 정수
  print(A%B)

10 5
15
5
50
2
0

In [ ]:
A, B, C = map(int, input().split())
if 2<=A<=10000 and 2<=B<=10000 and 2<=C<=10000:
  print((A+B)%C)
  print(((A%C)+(B%C))%C)
  print((A*B)%C)
  print(((A%C)*(B%C))%C)

5 8 4
1
1
0
0

In [ ]:
A = int(input())
B = input()
print(A*int(B[2]))
print(A*int(B[1]))
print(A*int(B[0]))
print(A*int(B))

472
385
2360
3776
1416
181720

In [ ]:
input_id = input('id:')
id = 'egoing'
input_password = input('password:')
password = '111111'
if input_id == id:
    if input_password == password:
        print('Welcome')
    else:
        print('Wrong password')
else:
    print('Wrong id')

In [ ]:
names = ['egoing', 'basta', 'blackdew', 'leezche']
for name in names:
    print('Hello, '+name+' . Bye, '+name+'.')

Hello, egoing . Bye, egoing.
Hello, basta . Bye, basta.
Hello, blackdew . Bye, blackdew.
Hello, leezche . Bye, leezche.

In [ ]:
persons = [
    ['egoing', 'Seoul', 'Web'],
    ['basta', 'Seoul', 'IOT'],
    ['blackdew', 'Tongyeong', 'ML'],
]
print(persons[0][0])
 
for person in persons:
    print(person[0]+','+person[1]+','+person[2])
 
person = ['egoing', 'Seoul', 'Web']
name = person[0]
address = person[1]
interest = person[2]
print(name, address, interest)
 
name, address, interest = ['egoing', 'Seoul', 'Web']
print(name, address, interest)
 
for name, address, interest in persons:
    print(name+','+address+','+interest)

egoing
egoing,Seoul,Web
basta,Seoul,IOT
blackdew,Tongyeong,ML
egoing Seoul Web
egoing Seoul Web
egoing,Seoul,Web
basta,Seoul,IOT
blackdew,Tongyeong,ML

In [ ]:
person = {'name':'egoing', 'address':'Seoul', 'interest':'Web'}
print(person['name'])
 
for key in person:
    print(key, person[key])
 
persons = [
    {'name':'egoing', 'address':'Seoul', 'interest':'Web'},
    {'name':'basta', 'address':'Seoul', 'interest':'IOT'},
    {'name':'blackdew', 'address':'Tongyeong', 'interest':'ML'}
]
 
print('==== persons ====')
for person in persons:
    for key in person:
        print(key, ':', person[key])
    print('-----------------')

egoing
name egoing
address Seoul
interest Web
==== persons ====
name : egoing
address : Seoul
interest : Web
-----------------
name : basta
address : Seoul
interest : IOT
-----------------
name : blackdew
address : Tongyeong
interest : ML
-----------------

In [ ]:
year = int(input())
if year % 4 == 0 and year % 100 != 0 or year % 400 == 0:
  print('1')
else:
  print('0')

2022
0

In [ ]:
H, M = map(int, input().split())
if 24 >= H >= 0 and 60 >= M >= 45:
  print(H, M - 45)
elif 0 == H and 45 > M:
  print(H + 23, M + 15)
elif 24 >= H > 0 and 45 > M:
  print(H - 1, M + 15)

1 40
0 55

In [ ]:
H, M = map(int, input().split())
if 24 >= H >= 0 and 60 >= M >= 45:
  print(H, M - 45)
elif 0 == H and 45 > M:
  print(H + 23, M + 15)
elif 24 >= H > 0 and 45 > M:
  print(H - 1, M + 15)

In [ ]:
N = input()
for i in range(1, 10):
    print(N, "*", i, "=", int(N) * i)

5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

In [ ]:
n = int(input())
for i in range(n):
  a, b = map(int, input().split())
  print(a+b)

3
1 2
3
5 5
10
7 7
14

In [ ]:
n = int(input())
sum = 0
for i in range(1, n+1):
  sum += i
print(sum)

5
15

In [ ]:
import sys
T = int(input())
for i in range(T):
  a,b = map(int, sys.stdin.readline().split())
  print(a+b)

In [ ]:
N = int(input())
for i in range(1, N+1):
  print(N)
  N-=1

5
5
4
3
2
1

In [ ]:
T = int(input())
for i in range(T):
  A, B = map(int, input().split())
  if 0 < A and B < 10:
    print("Case #"+str(i+1),':',A,"+",B,"=",A+B)

3
1 1
Case #1 : 1 + 1 = 2
2 2
Case #2 : 2 + 2 = 4
3 3
Case #3 : 3 + 3 = 6

In [ ]:
N, X = map(int, input().split())
A = list(map(int, input().split()))
for i in A:
  if i < X:
    print(i, end=' ')

10 7
10 9 8 7 6 5 4 3 2 1
6 5 4 3 2 1 <class 'int'>

In [ ]:
while True:
  a, b = map(int, input().split())
  if a == 0 and b == 0:
    break
  print(a+b)

1 1
2
2 2
4
3 3
6
0 0

In [ ]:
n = int(input())
first = n
if n < 10:
  first = '0'+str(first)
i = 0
while True:
  second = int(str(first)[0]) + int(str(first)[1])
  if second < 10:
    second = '0'+str(second)
  third = str(first)[1] + str(second)[1]
  first = third
  i+=1
  if int(third) == n:
    print(i)
    break

71
12

In [ ]:
n = int(input())
N = n
cycle = 0
while True:
  N = N % 10 * 10 + sum(map(int, str(N))) % 10
  cycle+=1
  if N == n:
    print(cycle)
    break

In [ ]:
N  = int(input())
numbers = list(map(int, input().split()))
print(min(numbers), max(numbers))

5
1 2 3 4 5
[1, 2, 3, 4, 5] <class 'list'> 1 5

In [ ]:
numbers = []
for i in range(9):
  numbers.append(int(input()))
m = max(numbers)
print(m, numbers.index(m)+1)

8
6
4
2
9
3
7
1
5
9 5

In [ ]:
A = int(input())
B = int(input())
C = int(input())
D = A*B*C
for i in range(10):
  print(str(D).count(str(i)))
  i+=1

150
266
427
3
1
0
2
0
0
0
2
0
0

In [ ]:
remains = set()
for i in range(10):
  n = int(input())
  remains.add(n%42)
print(len(remains))

1
2
3
4
5
6
7
8
9
10
10

In [ ]:
remains = []
for i in range(10):
  n = int(input())
  remains.append(n%42)
r = set(remains)
print(len(r))

1
2
3
4
5
6
7
8
9
10
10

In [ ]:
a = [1, 2, 3, 4]
a.insert(0, 0)
a.append(5)
print(a)

[0, 1, 2, 3, 4, 5]

In [ ]:
tests = int(input())
scores = list(map(int, input().split()))
new_scores = []
for i in scores:
  new_scores.append(i/max(scores)*100)
print(sum(new_scores)/tests)

9
10 20 30 40 50 60 70 80 90
55.55555555555556

In [ ]:
f = 257
g = 257 # 1~256은 hash값 공유
print(f is g) # is 연산자

h = (1, 2, [3, 4], 5)
h[2][0] = 100
print(h)

False
(1, 2, [100, 4], 5)

In [ ]:
a = 0
for i in range(1000):
    if i % 3 == 0 or i % 5 == 0:
        a += i
print(a)

233168

In [ ]:
a, b = 1, 1
result = 0
while a + b <= 4000000:
    if (a + b) % 2 == 0:
        result += a+b
    a, b = b, a+b
print(result)

4613732

In [ ]:
a, b = 1, 1
total = 0
while b <= 4000000:
    if b % 2 == 0:
        total += b
    else:
        pass
    a, b = b, a + b
print(total)

4613732

In [ ]:
fibonacci = [1, 2]
while fibonacci[-1] <= 4000000:
  fibonacci.append(fibonacci[-2] + fibonacci[-1])

wanted = []
fibonacci.pop()
for num in fibonacci:
  if num % 2 == 0:
    wanted.append(num)

print(sum(wanted))

4613732

In [ ]:
year = int(input())
print(year - 543)

2541
1998

In [ ]:
N = int(input())
for i in range(N):
  Q = input()
  A = 0; B = 1; T = 0
  for j in Q:
    if j == 'O':
      T = T + B + A
      A += 1
    elif j == 'X':
      A = 0
  print(T)

5
OOXXOXXOOO
10
OOXXOOXXOO
9
OXOXOXOXOXOXOX
7
OOOOOOOOOO
55
OOOOXOOOOXOOOOX
30

In [ ]:
N = int(input())
for i in range(N):
  T = list(map(int, input().split()))
  A1 = T.pop(0)
  A = sum(T) / A1
  B = 0
  for j in T:
    if j > A:
      B += 1
    C = round(B/A1*100, 3)
  print('%.3f'%C + '%')

5
5 50 50 70 80 100
40.000%
7 100 95 90 80 70 60 50
57.143%
3 70 90 80
33.333%
3 70 90 81
66.667%
9 100 99 98 97 96 95 94 93 91
55.556%

In [ ]:
a = sum(map(int, input().split()))
print(a)

1 2 3 4 5 6 7 8 9 10
55

In [ ]:
def solve(*args):
  a = 0
  try:
    for i in args:
      a += i
    return a
  except:
    break
print(solve(1, 2, 3, 4, 5, 6, 7, 8, 9, 10))

SyntaxError: ignored

In [ ]:
list = [1, 2, 3]
list.append([4])
print(list)

[1, 2, 3, [4]]

In [ ]:
import requests
import json

korea = "https://api.corona-19.kr/korea/beta/?serviceKey=" # 국내 코로나 발생 동향
vaccine = "https://api.corona-19.kr/korea/vaccine/?serviceKey=" # 예방접종 현황
apikey = "mgSkF7M5w9VzUBWX268YacH4hIAnfdyLC" # API 키를 다음 란에 입력해 주세요.

response = requests.get(korea + apikey)
message = response.text
data = json.loads(message)

response2 = requests.get(vaccine + apikey)
message2 = response2.text
data2 = json.loads(message2)

status = response.status_code
status2 = response2.status_code

if status == 200: #국내 코로나 발생동향이 정상적으로 불러와졌을경우(http200)
    if status2 == 200: #예방접종현황이 정상적으로 불러와졌을경우(http200)
        print("Corona-19-API Python 국내 코로나 발생 동향")
        print("\n")
        print('[',(data["API"]["updateTime"]),']')
        print("\n")
        print('국내 확진자 수:', format(data["korea"]["totalCnt"], ','), "명")
        print('전일 신규합계 확진자 수:', format(data["korea"]["incDec"], ','), "명")
        print('국내 완치자 수:', format(data["korea"]["recCnt"], ','), "명")
        print('국내 사망자 수:', format(data["korea"]["deathCnt"], ','), "명")
        print('국내 치료중 수:', format(data["korea"]["isolCnt"], ','), "명")
        print('국내 코로나 발생률:', format(data["korea"]["qurRate"], ','), "%")
        print("\n")
        print("Corona-19-API Python 국내 예방접종 현황")
        print("\n")
        print('[', (data2["API"]["apiName"]), (data2["API"]["dataTime"]), ']')
        print("\n")
        print('1차 접종 완료 수:', format(data2["korea"]["vaccine_1"]["vaccine_1"], ','), "명")
        print('1차 접종 전일 신규합계: +', format(data2["korea"]["vaccine_1"]["vaccine_1_new"], ','), "명")
        print("\n")
        print('2차 접종 완료 수:', format(data2["korea"]["vaccine_2"]["vaccine_2"], ','))
        print('2차 접종 전일 신규합계: +', format(data2["korea"]["vaccine_2"]["vaccine_2_new"], ','),  "명")
        print("\n")
        print('3차 접종 완료 수:', format(data2["korea"]["vaccine_3"]["vaccine_3"], ','))
        print('3차 접종 전일 신규합계: +', format(data2["korea"]["vaccine_3"]["vaccine_3_new"], ','),  "명")
        print('\n')
else:
    print("정상적으로 처리되지 않았습니다. API 키를 올바르게 입력했는지 확인해주세요.")

Corona-19-API Python 국내 코로나 발생 동향


[ 코로나바이러스감염증-19 국내 발생현황 (03.02. 00시 기준) ]


국내 확진자 수: 3,492,686 명
전일 신규합계 확진자 수: 219,241 명
국내 완치자 수: 1,166,972 명
국내 사망자 수: 8,266 명
국내 치료중 수: 2,317,448 명
국내 코로나 발생률: 6,764 %


Corona-19-API Python 국내 예방접종 현황


[ Corona-19-API-예방접종현황-v1 03.02., 00시 기준 ]


1차 접종 완료 수: 44,860,559 명
1차 접종 전일 신규합계: + 189 명


2차 접종 완료 수: 44,370,169
2차 접종 전일 신규합계: + 341 명


3차 접종 완료 수: 31,510,985
3차 접종 전일 신규합계: + 4,749 명

In [ ]:
a = 0, 0, 0, 0, 0, 0, 0, 0
print(len(a))

In [ ]:
print("Hello")

print("Hello World")

print("Hello") 
print("World")

print("'Hello'")

print('"Hello World"')

print("\"!@#$%^&*()\'")

Hello
Hello World
Hello
World
'Hello'
"Hello World"
"!@#$%^&*()'