## 10/22 토
### 나머지가 1이 되는 수 찾기

자연수 n이 매개변수로 주어집니다. n을 x로 나눈 나머지가 1이 되도록 하는 가장 작은 자연수 x를 return 하도록 solution 함수를 완성해주세요. 답이 항상 존재함은 증명될 수 있습니다.

In [ ]:
def solution(n):
  for x in range(1, n + 1):
    if n % x == 1:
      return x

solution(12)

11

In [ ]:
def solution(n):
  return [x for x in range(1, n+1) if n % x == 1][0]

solution(12)

11

### x만큼 간격이 있는 n개의 숫자

함수 solution은 정수 x와 자연수 n을 입력 받아, x부터 시작해 x씩 증가하는 숫자를 n개 지니는 리스트를 리턴해야 합니다. 다음 제한 조건을 보고, 조건을 만족하는 함수, solution을 완성해주세요.

x 	n 	answer <br>
2 	5 	[2,4,6,8,10] <br>
4 	3 	[4,8,12] <br>
-4 	2 	[-4, -8]

In [ ]:
def solution(x, n):
  gap = x
  answer = []

  while len(answer) < n:
    answer.append(x)
    x += gap

  return answer

solution(2, 5)
solution(4, 3)
solution(-4, 2)

[2, 4, 6, 8, 10]

In [ ]:
def solution(x, n):
    return [i * x + x for i in range(n)]

print(solution(2, 5),
solution(4, 3),
solution(-4, 2))

[2, 4, 6, 8, 10] [4, 8, 12] [-4, -8]

###  콜라츠 추측

1937년 Collatz란 사람에 의해 제기된 이 추측은, 주어진 수가 1이 될 때까지 다음 작업을 반복하면, 모든 수를 1로 만들 수 있다는 추측입니다. 작업은 다음과 같습니다.

1-1. 입력된 수가 짝수라면 2로 나눕니다. <br>
1-2. 입력된 수가 홀수라면 3을 곱하고 1을 더합니다. <br>
2. 결과로 나온 수에 같은 작업을 1이 될 때까지 반복합니다.

예를 들어, 주어진 수가 6이라면 6 → 3 → 10 → 5 → 16 → 8 → 4 → 2 → 1 이 되어 총 8번 만에 1이 됩니다. 위 작업을 몇 번이나 반복해야 하는지 반환하는 함수, solution을 완성해 주세요. 단, 주어진 수가 1인 경우에는 0을, 작업을 500번 반복할 때까지 1이 되지 않는다면 –1을 반환해 주세요.

In [ ]:
def solution(n):
  cnt = 0
  while n > 1:
    if n % 2 == 0:
      n = n / 2
      cnt += 1
    else:
      n = n * 3 + 1
      cnt += 1
    if cnt == 500 and n != 1.:
      cnt = -1
      break

  return int(n), cnt

solution(626331)

(40, -1)

In [ ]:
def solution(num):
    for i in range(500):
        num = num / 2 if num % 2 == 0 else num*3 + 1
        if num == 1:
            return i + 1
    return -1

print(solution(6), solution(16), solution(626331))

8 4 -1

## 10/23 일
###  두 정수 사이의 합
두 정수 a, b가 주어졌을 때 a와 b 사이에 속한 모든 정수의 합을 리턴하는 함수 solution을 완성하세요.
<br>예를 들어 a = 3, b = 5인 경우, 3 + 4 + 5 = 12이므로 12를 리턴합니다.

In [ ]:
def solution(a, b):
  if a < b:
    answer = [n for n in range(a, b+1)]
    return sum(answer)
  elif a > b:
    answer = [n for n in range(b, a+1)]
    return sum(answer)
  else:
    return a

print(solution(3, 5), solution(3, 3), solution(5, 3))

12 3 12

In [ ]:
def solution(a, b):
  return sum(range(min(a, b), max(a, b) + 1))
  
print(solution(3, 5), solution(3, 3), solution(5, 3))

12 3 12

In [ ]:
def solution(a, b):
  return (abs(a - b) + 1) * (a + b) // 2

print(solution(3, 5), solution(3, 3), solution(5, 3))

12 3 12

In [ ]:
def solution(a, b):
  if a > b: a, b = b, a
  return sum(range(a, b + 1))

print(solution(3, 5), solution(3, 3), solution(5, 3))

12 3 12

### 서울에서 김서방 찾기
String형 배열 seoul의 element중 "Kim"의 위치 x를 찾아, "김서방은 x에 있다"는 String을 반환하는 함수, solution을 완성하세요. <br> seoul에 "Kim"은 오직 한 번만 나타나며 잘못된 값이 입력되는 경우는 없습니다.

In [ ]:
def solution(seoul):
  x = seoul.index('Kim')
  return f'김서방은 {x}에 있다'

solution(["Jane", "Kim"])

'김서방은 1에 있다'

### 핸드폰 번호 가리기
프로그래머스 모바일은 개인정보 보호를 위해 고지서를 보낼 때 고객들의 전화번호의 일부를 가립니다.<br>
전화번호가 문자열 phone_number로 주어졌을 때, 전화번호의 뒷 4자리를 제외한 나머지 숫자를 전부 *으로 가린 문자열을 리턴하는 함수, solution을 완성해주세요.

In [ ]:
def solution(phone_number):
  answer = phone_number[:-4].replace(phone_number[:-4], '*' * len(phone_number[:-4]))
  return answer + phone_number[-4:]

solution('01033334444')

'*******4444'

In [ ]:
def solution(phone_number):
  return '*' * (len(phone_number) - 4) + phone_number[-4:]

solution('01033334444')

'*******4444'

### 나누어 떨어지는 숫자 배열
array의 각 element 중 divisor로 나누어 떨어지는 값을 오름차순으로 정렬한 배열을 반환하는 함수, solution을 작성해주세요.<br>
divisor로 나누어 떨어지는 element가 하나도 없다면 배열에 -1을 담아 반환하세요.

<h5>입출력 예</h5>
<table class="table">
        <thead><tr>
<th>arr</th>
<th>divisor</th>
<th>return</th>
</tr>
</thead>
        <tbody><tr>
<td>[5, 9, 7, 10]</td>
<td>5</td>
<td>[5, 10]</td>
</tr>
<tr>
<td>[2, 36, 1, 3]</td>
<td>1</td>
<td>[1, 2, 3, 36]</td>
</tr>
<tr>
<td>[3,2,6]</td>
<td>10</td>
<td>[-1]</td>
</tr>
</tbody>
      </table>

In [ ]:
def solution(arr, divisor):
  answer = []
  for n in arr:
    if n % divisor == 0:
      answer.append(n)
    else:
      continue
  if len(answer) == 0:
    return [-1]
  else:
    answer.sort()
    return answer

print(solution([5, 9, 7, 10], 5), solution([2, 36, 1, 3], 1), solution([3,2,6], 10))

[5, 10] [1, 2, 3, 36] [-1]

In [ ]:
def solution(arr, divisor):
  answer = [x for x in arr if x % divisor == 0]
  answer.sort()
  return answer if len(answer) != 0 else [-1]

print(solution([5, 9, 7, 10], 5), solution([2, 36, 1, 3], 1), solution([3,2,6], 10))

[5, 10] [1, 2, 3, 36] [-1]

In [ ]:
def solution(arr, divisor):
  return sorted([x for x in arr if x % divisor == 0]) or [-1]

print(solution([5, 9, 7, 10], 5), solution([2, 36, 1, 3], 1), solution([3,2,6], 10))

[5, 10] [1, 2, 3, 36] [-1]

###  제일 작은 수 제거하기
정수를 저장한 배열, arr 에서 가장 작은 수를 제거한 배열을 리턴하는 함수, solution을 완성해주세요. <br>단, 리턴하려는 배열이 빈 배열인 경우엔 배열에 -1을 채워 리턴하세요. <br>예를 들어 arr이 [4,3,2,1]인 경우는 [4,3,2]를 리턴 하고, [10]면 [-1]을 리턴 합니다.

In [ ]:
def solution(arr):
  n = sorted(arr)[0]
  arr.remove(n)
  return arr or [-1]

print(solution([4,3,2,1]), solution([10]))

[4, 3, 2] [-1]

In [ ]:
def solution(arr):
  return [i for i in arr if i > min(arr)] or [-1]

print(solution([4,3,2,1]), solution([10]))

[4, 3, 2] [-1]

In [ ]:
def solution(arr):
    m = min(arr)
    return [i for i in arr if i > m] or [-1]

print(solution([4,3,2,1]), solution([10]))

[4, 3, 2] [-1]

###  음양 더하기
어떤 정수들이 있습니다. <br>이 정수들의 절댓값을 차례대로 담은 정수 배열 absolutes와 이 정수들의 부호를 차례대로 담은 불리언 배열 signs가 매개변수로 주어집니다. <br>실제 정수들의 합을 구하여 return 하도록 solution 함수를 완성해주세요.

In [3]:
def solution(absolutes, signs):
  answer = []
  # answer = 0
  for index, number in enumerate(absolutes):
    # print(index, number, signs[index])
    if signs[index] == True:
      answer.append(number)
      # answer += number
    elif signs[index] == False:
      answer.append(-1 * number)
      # answer -= number
  return sum(answer)
  # return answer

In [5]:
def solution(absolutes, signs):
    return sum([absolute if sign else -absolute for absolute, sign in zip(absolutes, signs)])

In [6]:
solution([4,7,12], [True, False, True])

9

## 10/24
### 없는 숫자 더하기
0부터 9까지의 숫자 중 일부가 들어있는 정수 배열 numbers가 매개변수로 주어집니다. <br>numbers에서 찾을 수 없는 0부터 9까지의 숫자를 모두 찾아 더한 수를 return 하도록 solution 함수를 완성해주세요.

In [26]:
def solution(numbers):
  answer = 0
  n_range = list(range(0, 10))
  for number in n_range:
    if number not in numbers:
      answer += number
  return answer

In [29]:
def solution(numbers):
  return sum([number for number in list(range(0, 10)) if number not in numbers])

In [31]:
def solution(numbers):
  return 45 - sum(numbers)

In [35]:
solution = lambda x: sum(range(10)) - sum(x)

In [36]:
print(solution([1,2,3,4,6,7,8,0]), solution([5,8,4,0,6,7,9]))

14 6

In [28]:
sum(list(range(0, 10)))

45

### 가운데 글자 가져오기
단어 s의 가운데 글자를 반환하는 함수, solution을 만들어 보세요. 단어의 길이가 짝수라면 가운데 두글자를 반환하면 됩니다.

In [48]:
def solution(s):
  return s[len(s) // 2] if len(s) % 2 != 0 else s[len(s) // 2 - 1] + s[len(s) // 2]

In [52]:
def solution(s):
  return s[(len(s)-1) // 2 : len(s) // 2 + 1]

In [53]:
print(solution("abcde"), solution("qwer"))

c we

### 수박수박수박수박수박수?
길이가 n이고, "수박수박수박수...."와 같은 패턴을 유지하는 문자열을 리턴하는 함수, solution을 완성하세요. <br>예를 들어 n이 4이면 "수박수박"을 리턴하고 3이라면 "수박수"를 리턴하면 됩니다.

In [55]:
def solution(n):
  word = ['수', '박']
  return [w in word for w in range(n)]

solution(4)

[False, False, False, False]

In [57]:
word = ['수', '박']
print(word * 4)

['수', '박', '수', '박', '수', '박', '수', '박']

In [62]:
w1 = '수'
w2 = '박'
n = 4
answer = ''
while len(answer) == n:
  answer += w1
  answer += w2

print(answer)

## 10/25 화